.style__layout--table {
    height: 45rem;
    @include srollbar;
    .header-table {
        font-size: 1rem;
        padding: 1.2rem 0 0.3rem 0;
    }
    .body__table {
        font-size: 0.85rem;
    }
}

// table grid
.grid__row {
    padding: 0.8rem 0;

    &:nth-child(odd) {
        background-color: rgba($color-gray-light-1, 0.16);
    }
    &:hover {
        color: $color-tertiary;
        background-color: $color-primary;
    }

    &--active {
        color: $color-black !important;
        background-color: rgba($color-check, 0.2) !important;
    }
}

.grid__item {
    &:not(:first-child) {
        margin-right: 3.2rem;
    }
}

.checkbox__item {
    position: relative;
    margin: 0 1rem 0 1.6rem;
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.checked {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: $color-primary;
    font-size: 12px;
    color: $color-tertiary;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
